.open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

    
.section-container{
    margin-left: 8px;
    margin-right: 20px;
}
.container{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    background-color: #FFFFFF;

}
.nav-pic{
    margin-top: 16px;
    width: 140px;
}
.nav-text{
    display: flex;
    gap: 40px;
    margin-top: 22px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.nav-btn{
    margin-top: 24px;
}
.nav-btn button{
    background-color: #469165;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    width: 165px;
    border: none;
    cursor: pointer;
}
.nav-btn button:hover{
    background-color:rgba(0, 100, 0, 0.473);
}
.box{
    text-align: center;
}

.section-box{
    width: 100%;
    background-image: url(assets/Header.png) ;
    height: 638px;
    margin-top: 15px;
    
}
.box-container{
    max-width: 700px;
    margin:0 auto;
    padding: 115px 120px 179px;
}
.box-container .head p{
    font-size: 16px;
    gap: 6px;
    font-weight: 500;
    color: #469165;
    padding: 8px 12px;
    background-color: #FFFFFF;
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
   border-radius: 1000px;


}
.head{
    margin-bottom: 16px;
}
.head2 h1{
    
    margin: 0 auto;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    max-width: 770;
    display: block;
    margin-bottom: 16px;
    

}
.head3 {
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 0 auto 32px;
    

}
.btn-green{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    align-items: center;
    padding: 7px 9px 7px 12px;
    display: flex;
    width: 224px;
    gap: 9px;
    cursor: pointer;



}
.btn-green:hover{
    background-color: #4691658a;
}
.btn-white {
    
    border: 1px solid rgba(255, 255, 255, 1);;
    background-color: transparent;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 13px 16px 6px;
    cursor: pointer;
    border-radius: 4px;
    
}
.btn-white:hover{
    background-color: rgba(211, 211, 211, 0.199);
}
.box-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
}